.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

#webgl {
    z-index: 0;
}

#hud {
    z-index: 1;
    pointer-events: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
